@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goldman:wght@700&family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap');

#navbar{
    display: flex;
    width: 100%;
    text-decoration: none;
    background-color: white;
    }   
#navbar .brand {
    padding: 0 40px;
    }
#navbar .brand img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}
#navbar .brand h1 {
    font-family: Goldman;
}
#navbar ul{
    text-align: center;
    list-style: none;
    padding: 3rem 1rem;
    text-decoration: none;
    }
#navbar li{
    text-decoration: none;
    display: inline;
    margin: 1rem; 
    }

    #navbar li:hover
    {box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);}
#navbar a{
    color: black;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    }

#cartwidget{
    display: flex;
    padding: 3rem 1rem;
    }
#cartwidget p{
    text-align: center;
    padding: 0.5rem 1rem;
    color: red;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    }
#cartwidget img{
    width: 2rem;
    height: 2rem;
    
}