@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goldman:wght@700&family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap');
#Footer {
    background-color: black;
    padding: 20px;  
    text-align: center;
    }

#Footer p {
    color: white;
    font-size: 15px;
    font-family: Goldman;
    text-align: center;
    margin: 1rem;
}

#Footer img {
    width: 40px;
    margin: 0px 20px;
}

