#Saludo {
    margin: 5rem;
    padding: 1rem;
    text-align: center;
    background-color:white;
    color:black;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    }